.control-panel{
    /* width: 15%; */
    border: 2px solid rgb(75, 75, 75);
    background-color: rgb(75, 75, 75);
    color: white;
    
    padding: 10px 20px;
}

.threshold-box{
    margin-top: 40px;
}

.thershold-bar{
    width: 75%;
}

.radio-input{
    text-align: left;
}