.add-question-box{
    float: left;
    width: 25%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 2% 2.5%;
    padding: 3% 0;
    text-align: center;
    height: 140px;
    display: table;
}

.add-question-box:hover{
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.269);
}

.add-question-box h2{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    font-size: 50px;
    font-weight: normal;
}