.add-question-box{
    float: left;
    width: 25%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 2% 2.5%;
    padding: 3% 0;
    text-align: center;
    height: 140px;
    display: table;
}

.add-question-box:hover{
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.269);
}

.add-question-box h2{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    font-size: 50px;
    font-weight: normal;
}

.teacher-question-box{
    float: left;
    width: 25%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 2% 2.5%;
    padding: 3% 0;
    text-align: center;
    height: 140px;
    overflow-y: hidden;
}

.teacher-question-box h3{
    font-weight: normal;
}

.teacher-question-box:hover{
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.269);
}

.teacher-question-box button{
    background-color: white; 
    color: grey; 
    border: 2px solid rgb(203, 203, 203);
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    padding: 2% 10%;
}

.teacher-question-box button:hover{
    background-color: rgb(221, 221, 221); 
    border: 2px solid rgb(221, 221, 221); 
    transition: 0.3s;
}