.main-container{
    display: flex;
    height: 80%;
    width: 100%;
    padding: 0 2%;
}

.explore-data-containter{
    width:69%;
    margin-left: 10px;
}
  
.question-editor-container{
    width:30%;
    height: 100%;
}

.question-edit-box{
    border: 1px solid rgb(219, 219, 219);
    padding: 10px 20px 10px 20px;
    margin-top: 2px;
}

.questionSetTitle{
    display: flex;
    justify-content: space-between;
}

.questionSetPublishBtn{
    border: 1px solid rgb(0, 153, 255);
    border-radius: 3px;
    background-color: rgb(0, 153, 255);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.editor-panel{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 3% 5% 5% 5%;
    overflow: scroll;
    height: 90%;
}

.qustionSet-name-box{
    display: flex;
    justify-content: center;
}

.qustionSet-name-box input{
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid rgb(226, 228, 240);
    background-color: rgb(226, 228, 240);
    border-radius: 3px;
}

.qustionSet-name-box h5{
    margin: 10px;
    color: grey;
}

.total-question-box{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.total-question-box h5{
    margin-top: 5px;
    margin-bottom: 5px;

}

.addQuestion-btn{
    border: 1px solid rgb(159, 159, 159);
    border-radius: 3px;
    background-color: grey;
    color: white; 
    margin: 0px;
}

.addQuestion-btn:hover{
    cursor: pointer;
}

.nextBackBtn-box{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.nextBackBtn{
    border: 1px solid rgb(159, 159, 159);
    border-radius: 3px;
    background-color: grey;
    color: white; 
    margin: 0px;
    padding: 6px;
    width: 80px;
}

.noneBtn{
    border: 1px solid white;
    border-radius: 3px;
    background-color: white;
    color: white; 
    margin: 0px;
    padding: 6px;
    width: 80px;
}

.subNavBar{
    width: 90%;
    height: 30px;
    padding: 2% 5% 0 5%;
}

.subNavBar select{
    float: right;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: grey;
    color: white;
    padding: 3px;
    width: 30%;
}

img{
    width: 100%;
}

.explore-data-page{
    display: flex;
}
