.logInContainer{
    margin-top: 60px;
    margin-bottom: 60px;
}

.logInBtn{
    padding: 6px 15px;
    background-color: white;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.logInBtn:hover{
    background-color: rgb(231, 231, 231);
}

.logInBtn img{
    width : 40px;
    display: inline;
    vertical-align: middle;
}

.logInBtn p{
    display:inline;
    margin-left: 10px;
    font-size: 16px;
}

.hide{
    display: none;
}

.status-container{
    display: flex;
    justify-content: center;
}

.status-login-box{
    width: 30%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 5% 3%;
    padding: 3% 0;
    text-align: center;
    
}

.status-title{
    margin-top: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.247);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px
}

.status-login-box button{
    background-color: white; 
    color: grey; 
    border: 2px solid rgb(203, 203, 203);
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    padding: 3% 10%;
}

.status-login-box button:hover{
    background-color: rgb(221, 221, 221); 
    transition: 0.5s;
}

.status-description{
    color: rgb(158, 158, 158);    
}