.main-container{
    display: flex;
    height: 100%;
}
  
  
.question-column{
width: 20%;
}

.student-home{
    margin-top: 40px;
}

.question-container{
    padding: 0 5%;
    width: 100%;
    float: left;
}

.question-box{
    float: left;
    width: 25%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 2% 2.5%;
    padding: 3% 0;
    text-align: center;
}

.question-box:hover{
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.269);
}

.question-box button{
    background-color: white; 
    color: grey; 
    border: 2px solid rgb(203, 203, 203);
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    padding: 2% 10%;
}

.question-box button:hover{
    background-color: rgb(221, 221, 221); 
    transition: 0.5s;
}